:host {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 380px;
  background-color: lightgray;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-sizing: border-box;
}

:host * {
  box-sizing: border-box;
}

:host:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate(12px, 12px);
  border-width: 1px;
  border-style: dashed;
  border-color: #242A49;
  z-index: -1;
}

:host i {
  justify-content: center;
  align-items: center;
}

picture {
  width: 100%;
  height: auto;
  max-height: 380px;
  background-color: lightgray;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* Device = Desktops */
@media (min-width: 1281px) {
  :host,
  picture {
    max-height: 460px;
  }
}
