:host {
  display: block;
}

:host * {
  box-sizing: border-box;
}

.grid-container--about {
  grid-template-rows: repeat(3, minmax(50px, auto));
  grid-template-areas:
    ". header header ."
    ". box-one box-one ."
    ". picture picture picture";
}

h1,
h2,
h4 {
  margin: 0;
}

h1 {
  font-size: 2em;
  letter-spacing: 0.067em;
}

h2 {
  color: #7b7b7b;
}

h4 {
  margin-bottom: 1em;
}

ul {
  padding-inline-start: 16px;
}

ul li {
  padding: 3px 0;
}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.picture {
  grid-area: picture;
}

.picture:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate(12px, 12px);
  border-width: 1px;
  border-style: dashed;
  border-color: #242A49;
  z-index: -1;
}

.box {
  position: relative;
  padding: var(--app-padding-medium);
  color: inherit;
  background-color: var(--app-background-color-gray);
  border-width: 1px;
  border-style: solid;
  border-color: #0000ee;
  text-decoration: none;
}

.box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate(12px, 12px);
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAzIDMiIHdpZHRoPSczJyBoZWlnaHQ9JzMnIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMgMzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiMyNDJBNDk7fQo8L3N0eWxlPgo8Zz4KCTxjaXJjbGUgY2xhc3M9InN0MCIgY3g9IjIuNSIgY3k9IjIuNSIgcj0iMC41Ii8+CjwvZz4KPC9zdmc+Cg==");
  background-repeat: repeat;
  background-position: bottom right;
  z-index: -1;
}

.box-one {
  grid-area: box-one;
}

a {
  color: #0000ee;
  text-decoration: underline;
}

/* Device = Tablets, Ipads */
@media (min-width: 768px) {
  .grid-container--about {
    grid-template-rows: repeat(5, minmax(50px, auto));
    grid-template-areas:
      ". header header header header header . . . . ."
      ". header header header header header . . . . ."
      ". box-one box-one box-one picture picture picture picture picture picture picture"
      ". box-one box-one box-one picture picture picture picture picture picture picture"
      ". . . . picture picture picture picture picture picture picture";
  }
}

/* Device = Desktops */
@media (min-width: 1281px) {
  .grid-container--about {
    grid-template-areas:
      ". . header header header header . . . . ."
      ". . header header header header . . . . ."
      ". box-one box-one box-one picture picture picture picture picture picture picture"
      ". box-one box-one box-one picture picture picture picture picture picture picture"
      ". . . . picture picture picture picture picture picture picture";
  }
}
