:host {
  display: block;
}

:host * {
  box-sizing: border-box;
}

.grid-container--header {
  grid-template-rows: repeat(1, minmax(50px, auto));
  grid-template-areas:
    ". header header .";
}

.section__header {
  grid-area: header;
  display: grid;
  grid-template-rows: minmax(45px, auto) minmax(45px, auto) auto;
  grid-template-areas:
    "subheadline"
    "headline"
    "text";
}

::slotted(h1),
::slotted(h2) {
  margin: 0;
}

::slotted(h1) {
  grid-area: headline;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  letter-spacing: 0.067em;
}

::slotted(h1:first-line),
::slotted(h2) {
  grid-area: subheadline;
  font-size: 1.5em;
  color: #7b7b7b;
}

::slotted(p) {
  grid-area: text;
  font-size: 1.4em;
}

/* Device = Tablets, Ipads */
@media (min-width: 768px) {
  .grid-container--header {
    grid-template-areas:
      ". header header header header header . . . . .";
  }
}

/* Device = Desktops */
@media (min-width: 1281px) {
  .grid-container--header {
    grid-template-areas:
      ". . header header header header . . . . .";
  }
}
