:host {
  display: block;
  --app-background-color-default: #ffffff;
  --app-background-color-gray: #f7f7f7;
  --app-background-color-dark: #252a47;

  --app-text-color-default: #151e38;
  --app-text-color-white: #ffffff;
  --app-link-color: #0000ee;

  --app-padding-small: 12px;
  --app-padding-medium: 24px;
  --app-padding-large: 36px;

  --app-green: #b7e4cf;
  --app-red: #e34262;
}

[main-title] {
  font-family: 'Pacifico';
  text-transform: lowercase;
  font-size: 30px;
  /* In the narrow layout, the toolbar is offset by the width of the
  drawer button, and the text looks not centered. Add a padding to
  match that button */
  padding-right: 44px;
}

/* Workaround for IE11 displaying <main> as inline */
main {
  display: block;
}

.main-content {
  position: relative;
  padding-top: 77px;
  min-height: calc(100vh - 77px);
  background-color: #ffffff;
  overflow: hidden;
  z-index: 1;
}

.page {
  display: none;
}

.page[active] {
  display: block;
}

a {
  color: var(--app-link-color);
  text-decoration: underline;
}

ul {
  padding-inline-start: 16px;
}

ul li {
  padding: 3px 0;
}
